---
import Layout from '~/layouts/Layout.astro';
import { getHomePermalink } from '~/utils/permalinks';
import Button from '~/components/ui/Button.astro';

const title = `Error 404`;
---

<Layout metadata={{ title }}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Error</span>
          <span class="text-accent">404</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">Désolé, nous n'avons pas trouvé cette page.</p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          Mais ne vous inquiétez pas, vous trouverez bien d'autres choses sur notre page d'accueil.
        </p>
        <div class="flex w-full sm:w-auto">
                      <Button href={getHomePermalink()} variant='primary' text="Retour a l'accueil" class="w-full sm:mb-0" />
                    </div>
      </div>
    </div>
  </section>
</Layout>
