---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

const metadata = {
  title: 'Africtivistes CitizenLab Benin 🇧🇯 — Votre plateforme d’information citoyenne',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'En savoir plus',
        href: '#features',
        variant: 'primary' },
    ]}
    image={{ src: '~/assets/images/citizenlabbenin_1.png', alt: 'CitizenLab Hero Image' }}
  >
    <Fragment slot="title">
      Votre plateforme d’information
      <span class="text-accent dark:text-accent highlight"> citoyenne</span>
      au <span class="text-primary dark:text-primary highlight" >Bénin </span> 
    </Fragment>
    <Fragment slot="subtitle">
      Promouvoir la participation citoyenne et la démocratie participative en impulsant de nouvelles dynamiques par l’utilisation de la technologie citoyenne (civic tech)
    </Fragment>
  </Hero>


  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="AfricTivistes"
    title="CitizenLab Bénin"
    subtitle="Ensemble pour une démocratie participative"
    items={[
      {
        title: 'Promouvoir la démocratie participative',
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit velit vel augue vulputate, nec fermentum elit luctus.",
        icon: 'tabler:components',
      },
      {
        title: 'Promouvoir la participation citoyenne',
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit velit vel augue vulputate, nec fermentum elit luctus.",
        icon: 'tabler:components',
      },
      {
        title: 'Créer un réseau citoyen',
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit velit vel augue vulputate, nec fermentum elit luctus.",
        icon: 'tabler:link',
      },
      {
        title: 'Déployer une campagne de plaidoyer en ligne',
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit velit vel augue vulputate, nec fermentum elit luctus.",
        icon: 'tabler:rocket',
      },
      {
        title: 'Déployer des sessions de formation',
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit velit vel augue vulputate, nec fermentum elit luctus.",
        icon: 'tabler:transform',
      },
      {
        title: 'Fournir une base de données',
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit velit vel augue vulputate, nec fermentum elit luctus.",
        icon: 'tabler:database',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Africtivistes CitizenLab Bénin en trois étapes"
    items={[
      {
        title: 'Octobre - Novembre 2023: <span class="font-medium">Appel à candidatures</span>',
        description:
          "Appel a candidatures ouvert à tous les jeunes béninois pour recruter l'équipe projet de CitizenLab Benin.",
        icon: 'tabler:progress-check',
      },
      {
        title: 'Novembre 2023: <span class="font-medium">Formation des formateurs</em>',
        description:
          "Les sessions ont porté sur les dynamiques de la participation citoyenne; la stratégie de plaidoyer digitale et sur l'identification des engagements contenus dans le Menu des engagements de la Cohorte Jeunesse",
        icon: 'tabler:progress-check',
      },
      {
        title: '24 Novembre 2023: <span class="font-medium">Lancement officiel du projet</em>',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/formation1.jpg',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Citoyenneté"
    subtitle="Agissons pour un changement positif en Mauritanie avec AfricTivistes CitizenLab"
    tagline="DÉMOCRATIE, ÉTAT DE DROIT ET CITOYENNETÉ"
    items={[
      {
        title: 'Droits et libertés',
        description: "Les droits et libertés sont des éléments clés de la citoyenneté, et incluent le droit à la vie, la liberté de pensée, d'expression, de religion, et l'égalité devant la loi.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Participation politique',
        description:
          "La participation politique est un aspect important de la citoyenneté, et comprend le droit de vote, le droit de se présenter aux élections, le droit de pétition et le droit de manifester",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Engagement civique',
        description:
          "L'engagement civique inclut les actions entreprises pour améliorer la communauté, telles que le bénévolat, le service communautaire, la participation à des groupes de quartier et la prise de responsabilité pour améliorer la qualité de vie dans son environnement",
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Éducation civique',
        description:
          "L'éducation civique est une composante essentielle de la citoyenneté, qui vise à donner aux citoyens les connaissances, les compétences et les valeurs nécessaires pour participer efficacement à la vie politique et civique",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Responsabilité',
        description:
          "Les citoyens ont des responsabilités envers leur communauté, notamment respecter les lois, voter, payer des impôts, respecter les droits des autres, être tolérants, protéger l'environnement et participer à la vie communautaire",
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Diversité',
        description: "La diversité est une réalité de la plupart des sociétés, et la citoyenneté implique de respecter les différences culturelles, religieuses et ethniques des autres, ainsi que de promouvoir l'inclusion et l'égalité",
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Dialogue et délibération',
        description: "Le dialogue et la délibération sont des éléments clés de la citoyenneté, car ils permettent aux citoyens de discuter de questions importantes, de partager des opinions et de trouver des solutions ensemble",
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Responsabilisation',
        description:
          "La responsabilisation est un élément important de la citoyenneté, car elle implique que les gouvernements et les dirigeants soient responsables de leurs actions, rendent des comptes à la population et respectent les droits des citoyens",
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Participation à la vie économique',
        description: "La participation à la vie économique est un élément important de la citoyenneté, car elle implique la participation à l'économie, la compréhension de son fonctionnement et de ses impacts, ainsi que la promotion de l'équité économique",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-slate-800"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Découvrez les dernières actualités!"
    information={`Cette section revient sur l’actualité du projet et sera une vitrine sur tout ce qui se fait en    matière d’engagement et de participation citoyenne en Bénin.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Foire aux questions"
    subtitle="Le FAQ sur le projet AfricTivistes CitizenLab Bénin répond à des questions sur les objectifs, les activités, le public cible, le rôle des citoyens et le financement du projet"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: "Qu'est-ce que le projet AfricTivistes CitizenLab Bénin ?",
        description:
          "AfricTivistes CitizenLab Benin est une fabrique citoyenne qui a pour objectif <b>d’appuyer, d’accompagner et d’outiller</b> les acteurs de la société civile du Bénin par la formation, le développement d’outils innovants. ",
      },
      {
        title: "Qu'est-ce que la Civic Tech ?",
        description:
          "La Civic Tech est un terme qui désigne les technologies et les démarches qui favorisent et renforcent le rôle joué par les citoyens dans la consolidation des débats publics. Ils sont souvent utilisées par les jeunes pour s'engager politiquement et participer à la vie de leur pays",
      },
      {
        title: "Pourquoi AfricTivistes CitizenLab Benin encourage la participation citoyenne au Bénin ?",
        description:
          "AfricTivistes CitizenLab est une initiative de Promotion de la Participation Citoyenne  et de  de l’engagement civique et politique des jeunes du Bénin est une réponse à une demande des jeunes et des organisations de la société civile.",
      },
      {
        title: "Comment les Civic Tech ont-elles permis des mobilisations importantes en Afrique ?",
        description:
          "Les Civic Tech ont permis des mobilisations importantes en Afrique en donnant une voix aux citoyens et en permettant des échanges d'informations en temps réel. Elles ont notamment été utilisées lors des campagnes électorales et pour organiser des manifestations et des protestations",
      },
      {
        title: "Comment AfricTivistes CitizenLab Benin encourage la participation citoyenne au Bénin ?",
        description:
          "Le projet compte passer par la production de contenus, le plaidoyer et la formation pour encourager la participation citoyenne au Bénin.",
      },
      {
        title: "Comment les Civic Tech ont-elles permis des mobilisations importantes en Afrique ?",
        description:
          "Les Civic Tech ont permis des mobilisations importantes en Afrique en donnant une voix aux citoyens et en permettant des échanges d'informations en temps réel. Elles ont notamment été utilisées lors des campagnes électorales et pour organiser des manifestations et des protestations",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Formations', amount: '3' },
      { title: 'Jeunes outillés', amount: '75' },
      { title: 'Jeunes engagés', amount: '15' },
      { title: "Internautes", amount: '4M' },
    ]}
  />

  
</Layout>
